<h2>ADD QUOTE</h2>
<p>Make sure you leave atleast one Quote</p>
<form (ngSubmit)="addQuote()" #add="ngForm" class="form-group col-xs-6">
  <div>
    <label for="name">Author's Name</label>
    <input [(ngModel)]="newQuote.name" #name="ngModel" name="name" type="text" class="form-control"   id="name"
      placeholder="Enter the name of Author" required/>
  </div> <br> <br>
  <div>
    <label for="quote"> Quote</label>
    <textarea [(ngModel)]="newQuote.quote" #quote="ngModel" class="form-control" name="quote" id="quote" rows="4"
      placeholder="Enter the quote" required></textarea>
  </div> <br>
  <button class="btn-success btn-sm">Add to list</button>
</form>